{
  "semi": true,
  "trailingComma": "es5",
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "width": 100,
  "jsxBracketSameLine": true
}
